* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #15263f;
  width: 100%;
  color: white;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "outfit", sens-serif;
}
.card {
  width: 302px;
  height: 523px;
  background-color: hsl(216, 50%, 16%);
  padding: 24px;
  padding-bottom: 39px;
  border-radius: 15px;
}
.image {
  position: relative;
  border-radius: 15px;
}
.main-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
h3 {
  padding-top: 12px;
  font-size: 20px;
  font-weight: 600;
}
.description {
  margin: 16px 0 24px 0;
  color: #8bacd9;
  font-family: normal;
  font-size: 18px;
  line-height: 26px;
  font-weight: 320;
}
.avatar {
  width: 33px;
}
.price-days {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #2e405a;
  padding-bottom: 24px;
}
.price {
  display: flex;
  align-items: center;
  color: #00fff8;
  font-size: 16px;
  letter-spacing: 1px;
}
.price img {
  margin: 5px;
}
.days {
  display: flex;
  align-items: center;
  color: #8bacd9;
  font-size: 16px;
  letter-spacing: 1px;
}
.days img {
  margin: 5px;
}
span {
  color: white;
  margin-left: 5px;
}
.creator {
  display: flex;
  align-items: center;
  color: #8bacd9;
  font-size: 16px;
  margin-top: -10px;
}
.avatar {
  border: 1px solid white;
  border-radius: 50px;
  margin: 22px 22px 22px 0px;
}
.main-img,
h3,
span {
  cursor: pointer;
}
h3:hover,
span:hover {
  color: #00fff8;
}
